services:
  catalogdb:
    image: postgres

  basketdb:
    image: postgres
   
  orderdb:
    image: mcr.microsoft.com/mssql/server

  distributedcache:
    image: redis

  catalogapi:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: Src/Services/CatalogAPI/Dockerfile

  basketapi:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: Src/Services/Basket/BasketAPI/Dockerfile

  discountgrpc:
    image: ${DOCKER_REGISTRY-}discountgrpc
    build:
      context: .
      dockerfile: Src/Services/DiscountGrpc/Dockerfile

  messagebroker:
    image: rabbitmq:management

  order.api:
    image: ${DOCKER_REGISTRY-}orderapi
    build:
      context: .
      dockerfile: Src/Services/Order/Order.API/Dockerfile

volumes:
  postgres_catalog:
  postgres_basket:
  es-data:





